services/service-node-red/steedos-app/main/node-red/flows.json
[
    {
        "id": "a0924467.009948",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5f0c7a9.5a7238",
        "type": "tab",
        "label": "流程 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "99dcad5d.d38ef",
        "type": "tab",
        "label": "流程 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "15fdc347.1238cd",
        "type": "moleculer-config",
        "name": "REDIS",
        "options": "{\"transporter\":\"redis://192.168.3.17:6379\"}",
        "optionsType": "json"
    },
    {
        "id": "39ab2b37.fd8374",
        "type": "moleculer-service-config",
        "name": "math",
        "version": "",
        "settings": "{}"
    },
    {
        "id": "3932022b.90c6ee",
        "type": "moleculer-service-config",
        "name": "apigw",
        "version": "",
        "settings": "{}"
    },
    {
        "id": "ff5015ff.932928",
        "type": "moleculer-request-action",
        "z": "a0924467.009948",
        "broker": "15fdc347.1238cd",
        "service": "39ab2b37.fd8374",
        "name": "Math Add",
        "topic": "add",
        "rest": "add",
        "restType": "str",
        "params": "{}",
        "paramsType": "json",
        "x": 1260,
        "y": 240,
        "wires": [
            [
                "6d300aff.e17c34"
            ]
        ]
    },
    {
        "id": "edc74057.5ca1d",
        "type": "moleculer-response-action",
        "z": "a0924467.009948",
        "name": "",
        "x": 1740,
        "y": 280,
        "wires": []
    },
    {
        "id": "6d300aff.e17c34",
        "type": "function",
        "z": "a0924467.009948",
        "name": "Function ADD",
        "func": "let response = Number(msg.payload.a) + Number(msg.payload.b);\nmsg.payload = response;\nnode.send([null,null,msg]);\nmsg.emit('test.emit',\"OK\");\nmsg.broadcast('test.bcast',\"OK\")\n\nmsg.call('math.sub',{a:9,b:2},{meta:{y:33}}).then((data)=>{\n    msg.payload = data\n    node.send([null,msg])\n}).catch((err)=>{\n    node.error(err, msg)\n})\n\n\nmsg.call('$none.actions').then((data)=>{\n    msg.payload = data\n    node.send([null,msg])\n}).catch((err)=>{\n    node.error(err, msg)\n})\n\nreturn [msg]; // or node.send([msg])",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1480,
        "y": 240,
        "wires": [
            [
                "edc74057.5ca1d",
                "1c9a2ec0.34da71"
            ],
            [
                "48eabdfc.c93f54"
            ]
        ]
    },
    {
        "id": "70a1b10.f31965",
        "type": "moleculer-call",
        "z": "a0924467.009948",
        "broker": "15fdc347.1238cd",
        "name": "",
        "topic": "math.add",
        "options": "{}",
        "optionsType": "json",
        "x": 1500,
        "y": 480,
        "wires": [
            [
                "8f89dcb1.f9e4d"
            ]
        ]
    },
    {
        "id": "d0471b75.2a3818",
        "type": "inject",
        "z": "a0924467.009948",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "options",
                "v": "{\"meta\":{\"z\":1}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":2,\"b\":3}",
        "payloadType": "json",
        "x": 1270,
        "y": 480,
        "wires": [
            [
                "70a1b10.f31965"
            ]
        ]
    },
    {
        "id": "8f89dcb1.f9e4d",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1730,
        "y": 480,
        "wires": []
    },
    {
        "id": "c8d19b2e.7614b8",
        "type": "moleculer-event",
        "z": "a0924467.009948",
        "broker": "15fdc347.1238cd",
        "service": "39ab2b37.fd8374",
        "name": "",
        "topic": "test.emit",
        "group": "",
        "x": 1260,
        "y": 360,
        "wires": [
            [
                "bd3bfb1a.e21a98"
            ]
        ]
    },
    {
        "id": "f8a5d380.02c92",
        "type": "moleculer-event",
        "z": "a0924467.009948",
        "broker": "15fdc347.1238cd",
        "service": "39ab2b37.fd8374",
        "name": "",
        "topic": "test.bcast",
        "group": "",
        "x": 1260,
        "y": 400,
        "wires": [
            [
                "bd8089d.802c278"
            ]
        ]
    },
    {
        "id": "bd3bfb1a.e21a98",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1470,
        "y": 360,
        "wires": []
    },
    {
        "id": "bd8089d.802c278",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1470,
        "y": 400,
        "wires": []
    },
    {
        "id": "1c9a2ec0.34da71",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1730,
        "y": 240,
        "wires": []
    },
    {
        "id": "287a0cf8.ecf0f4",
        "type": "catch",
        "z": "a0924467.009948",
        "name": "Catch Call Error",
        "scope": [
            "6d300aff.e17c34",
            "b0380e23.e0516"
        ],
        "uncaught": false,
        "x": 1480,
        "y": 200,
        "wires": [
            [
                "a55bb923.d1a678"
            ]
        ]
    },
    {
        "id": "a55bb923.d1a678",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1730,
        "y": 200,
        "wires": []
    },
    {
        "id": "bad82870.38dde8",
        "type": "comment",
        "z": "a0924467.009948",
        "name": "Events",
        "info": "",
        "x": 1250,
        "y": 320,
        "wires": []
    },
    {
        "id": "beb82942.b8b798",
        "type": "comment",
        "z": "a0924467.009948",
        "name": "Actions",
        "info": "",
        "x": 1250,
        "y": 200,
        "wires": []
    },
    {
        "id": "3a61a67c.c8e8ea",
        "type": "comment",
        "z": "a0924467.009948",
        "name": "Calling Action",
        "info": "",
        "x": 1270,
        "y": 440,
        "wires": []
    },
    {
        "id": "9b91bc3e.f551",
        "type": "moleculer-request-action",
        "z": "a0924467.009948",
        "broker": "15fdc347.1238cd",
        "service": "39ab2b37.fd8374",
        "name": "Math Sub",
        "topic": "sub",
        "params": "{\"a\":{\"type\":\"number\",\"positive\":true,\"integer\":true,\"convert\":true},\"b\":{\"type\":\"number\",\"positive\":true,\"integer\":true,\"convert\":true}}",
        "paramsType": "json",
        "x": 1260,
        "y": 280,
        "wires": [
            [
                "b0380e23.e0516"
            ]
        ]
    },
    {
        "id": "b0380e23.e0516",
        "type": "function",
        "z": "a0924467.009948",
        "name": "Function SUB",
        "func": "let response = Number(msg.payload.a) - Number(msg.payload.b);\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1480,
        "y": 300,
        "wires": [
            [
                "6e612a8c.22b9a4",
                "b63bc0d1.0edad"
            ]
        ]
    },
    {
        "id": "6e612a8c.22b9a4",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1730,
        "y": 400,
        "wires": []
    },
    {
        "id": "b63bc0d1.0edad",
        "type": "moleculer-response-action",
        "z": "a0924467.009948",
        "name": "",
        "x": 1740,
        "y": 360,
        "wires": []
    },
    {
        "id": "9b7aee86.a556c",
        "type": "moleculer-apigw",
        "z": "a0924467.009948",
        "broker": "15fdc347.1238cd",
        "service": "3932022b.90c6ee",
        "name": "",
        "x": 1250,
        "y": 680,
        "wires": []
    },
    {
        "id": "7cb432a4.6d60ac",
        "type": "moleculer-call",
        "z": "a0924467.009948",
        "broker": "15fdc347.1238cd",
        "name": "",
        "topic": "math.sub",
        "options": "{}",
        "optionsType": "json",
        "x": 1500,
        "y": 520,
        "wires": [
            [
                "111e3b48.883b95"
            ]
        ]
    },
    {
        "id": "ce66fc53.82401",
        "type": "inject",
        "z": "a0924467.009948",
        "name": "Wrong Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":\"wrong data\",\"b\":3}",
        "payloadType": "json",
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "7cb432a4.6d60ac"
            ]
        ]
    },
    {
        "id": "111e3b48.883b95",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1730,
        "y": 520,
        "wires": []
    },
    {
        "id": "17907b92.ba15f4",
        "type": "catch",
        "z": "a0924467.009948",
        "name": "",
        "scope": [
            "7cb432a4.6d60ac"
        ],
        "uncaught": false,
        "x": 1510,
        "y": 580,
        "wires": [
            [
                "24b6067f.33165a"
            ]
        ]
    },
    {
        "id": "c0d9615.fb9d6a",
        "type": "inject",
        "z": "a0924467.009948",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":6,\"b\":3}",
        "payloadType": "json",
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "7cb432a4.6d60ac"
            ]
        ]
    },
    {
        "id": "24b6067f.33165a",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1710,
        "y": 560,
        "wires": []
    },
    {
        "id": "7c0238a9.f776e8",
        "type": "inject",
        "z": "a0924467.009948",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a\":\"5\",\"b\":3}",
        "payloadType": "json",
        "x": 1270,
        "y": 560,
        "wires": [
            [
                "7cb432a4.6d60ac"
            ]
        ]
    },
    {
        "id": "8e44ebae.53ad88",
        "type": "comment",
        "z": "a0924467.009948",
        "name": "Call http://localhost:1880/$node/actions",
        "info": "",
        "x": 1350,
        "y": 640,
        "wires": []
    },
    {
        "id": "48eabdfc.c93f54",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "Msg Call inside function",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1790,
        "y": 320,
        "wires": []
    },
    {
        "id": "bfd19cf0.c30ed",
        "type": "moleculer-instance",
        "z": "a0924467.009948",
        "broker": "15fdc347.1238cd",
        "name": "",
        "topic": "mol",
        "location": "flow",
        "x": 1250,
        "y": 760,
        "wires": []
    },
    {
        "id": "66489625.146c08",
        "type": "inject",
        "z": "a0924467.009948",
        "name": "Call inside Function",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1450,
        "y": 760,
        "wires": [
            [
                "6fbd596b.685bc8"
            ]
        ]
    },
    {
        "id": "6fbd596b.685bc8",
        "type": "function",
        "z": "a0924467.009948",
        "name": "",
        "func": "const mol = flow.get('mol');\n\nmol.call('math.sub',{a:9,b:2},{meta:{y:33}}).then((data)=>{\n    msg.payload = data\n    node.send(msg)\n}).catch((err)=>{\n    node.error(err, msg)\n});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1640,
        "y": 760,
        "wires": [
            [
                "12db80bd.51662f"
            ]
        ]
    },
    {
        "id": "12db80bd.51662f",
        "type": "debug",
        "z": "a0924467.009948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1790,
        "y": 760,
        "wires": []
    },
    {
        "id": "d7b9f8d.9996708",
        "type": "comment",
        "z": "a0924467.009948",
        "name": "Using Moleculer Instance",
        "info": "",
        "x": 1310,
        "y": 720,
        "wires": []
    },
    {
        "id": "fe821493.2e0e28",
        "type": "comment",
        "z": "b5f0c7a9.5a7238",
        "name": "Parse result as JSON",
        "info": "Template node can create a string value using [Mustache](http://mustache.github.io/mustache.5.html) syntax.\nIf `Partsed JSON` output is selected, the created string is parsed as JSON format and JavaScript object is send as an output payload value.",
        "x": 1320,
        "y": 280,
        "wires": []
    },
    {
        "id": "931f94e8.592cd8",
        "type": "inject",
        "z": "b5f0c7a9.5a7238",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "message",
        "payload": "Hello, World!",
        "payloadType": "str",
        "x": 1380,
        "y": 340,
        "wires": [
            [
                "bb2b0dad.b24b5"
            ]
        ]
    },
    {
        "id": "bb2b0dad.b24b5",
        "type": "template",
        "z": "b5f0c7a9.5a7238",
        "name": "JSON template",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"key\" : \"{{topic}}\",\n    \"value\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 1600,
        "y": 340,
        "wires": [
            [
                "baf2e48.2b97418"
            ]
        ]
    },
    {
        "id": "baf2e48.2b97418",
        "type": "debug",
        "z": "b5f0c7a9.5a7238",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 340,
        "wires": []
    },
    {
        "id": "626021d1.626ab",
        "type": "inject",
        "z": "99dcad5d.d38ef",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "4719c26e.07d56c"
            ]
        ]
    },
    {
        "id": "4719c26e.07d56c",
        "type": "debug",
        "z": "99dcad5d.d38ef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "df28bece.500e1",
        "type": "http in",
        "z": "99dcad5d.d38ef",
        "name": "",
        "url": "/welcome",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "18c6142d.8f765c"
            ]
        ]
    },
    {
        "id": "18c6142d.8f765c",
        "type": "template",
        "z": "99dcad5d.d38ef",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<form>\n    <input name=\"username\" value=\"{{payload.username}}\">\n</form>",
        "output": "str",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "1aa5aafb.ab27d5",
                "67a93ac0.6872c4",
                "e0226a47.3fb788"
            ]
        ]
    },
    {
        "id": "1aa5aafb.ab27d5",
        "type": "http response",
        "z": "99dcad5d.d38ef",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "67a93ac0.6872c4",
        "type": "http request",
        "z": "99dcad5d.d38ef",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 560,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e0226a47.3fb788",
        "type": "debug",
        "z": "99dcad5d.d38ef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 220,
        "wires": []
    }
]